body{
    height:5000px;
    display: flex;
    justify-content: center;
}
.general{
    height:5000px;
    width:500px;
    display:flex;

}
.izq{
    height: 100%;
    width: 40px;
    background-color: grey;
    border-right: 5px solid white;
}
.der{
    height: 100%;
    width: 40px;
    background-color: grey;
    border-left: 5px solid white;
}

.izqCarril{
    border-right: 5px dashed white;
}
.izqCarril, .derCarril{
    height: 100%;
    width: 200px;
    background-color: grey;
}


img{
    height:300px;
    width:300x;
    position:absolute;
    left: 38%;
    z-index: +2; 
}

.meta1{
    position:absolute;
    top: 500px;
    left:0;
    background-color:purple;
    height:60px;
    width:100vw;
}

.meta2{
    position:absolute;
    top: 1000px;
    left:0;
    background-color:purple;
    height:60px;
    width:100vw;
}

.meta3{
    position:absolute;
    top: 1500px;
    left:0;
    background-color:purple;
    height:60px;
    width:100vw;
}

